@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quattrocento:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.menlo {
    font-family: "Menlo", monospace;
}

@font-face {
    font-family: "spoof";
    font-weight: normal;
    src: url("/fonts/spoof.ttf") format("truetype");
}

@font-face {
    font-family: "blair-itc-bold";
    src: url("/fonts/blair-itc-bold.otf") format("opentype");
}

@font-face {
    font-family: "blair-itc-medium";
    src: url("/fonts/blair-itc-medium.otf") format("opentype");
}

@font-face {
    font-family: "spoof-bold";
    src: url("/fonts/spoof/SpoofTrial-Bold.otf") format("opentype");
}

@font-face {
    font-family: "google-sans";
    font-weight: bold;
    src: url("/fonts/google-sans/GoogleSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "google-sans";
    font-weight: normal;
    src: url("/fonts/google-sans/GoogleSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "google-sans";
    font-weight: 500;
    src: url("/fonts/google-sans/GoogleSans-Medium.ttf") format("truetype");
}

body {
}

.libre {
    font-family: "Libre Baskerville";
}

.g-sans {
    font-family: "google-sans";
}

.spoof-bold {
    font-family: "spoof-bold", sans-serif;
}

.quat {
    font-family: "Quattrocento";
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.datepicker-input {
    background-color: white !important;
    color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
    width: 100%;

    border-radius: 10px;
    font-weight: 500;
    font-size: 90%;
    border: 1px solid rgb(209 213 219) !important;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5px;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    /* padding-top: 0.54rem;
    padding-bottom: 0.54rem; */
}

/* 
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    font-family: "Menlo" !important;
} */

/* .react-select-dropdown__control {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
} */

.tooltip-container {
    background-color: white !important;
    color: black !important;
    border: 1px solid rgb(209 213 219);
}

/* the text selection color on windows is absolutely disgusting */
/* *::selection {
    background: #b4d7fe !important;
} */
